body
{
    font-size: 13px;
    font-family: arial,sans-serif;
    color: #222;
    
}

.header-box
{
    position: relative;
    height: 25px;
    width: 100%;
    display: inline-flex;
    opacity: .75;
}

.header-box div a
{
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    

}
.header-box div a:hover
{
    color: gray;
    text-decoration: underline;
}
.header-box div img
{
    margin-left: 15px;
    margin-right: 15px;

}

.header-box div img:hover
{
    cursor: pointer;
}

.left-align
{
    float: left;
    justify-content: flex-start;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.right-align
{
    float: right;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    align-items: center;
}

footer
{
    display: inline-flex;
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 98%;
    border-top: 1px solid #ebebeb;

}

footer div a
{
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    opacity: .75;
}
footer div a:hover
{
    color: gray;
    text-decoration: underline;
    
}


.left-align-foot
{
    float: left;
    justify-content: flex-start;
    display: flex;
    width: 100%;
    align-items: center;
}

.right-align-foot
{
    
    float: right;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    align-items: center; 
}


#menu_pic
{
    width: 32px;
    height: 32px;

}

#name_icon
{
    border-radius: 50%;
}

#google_logo
{
    padding-top: 109px;
}

.main
{
    margin: auto;
    text-align: center;

}


button
{
    border: 1px solid white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
    background-color: white;
    font-size: 14px;
    opacity: .75;
    border-radius: 5px;
    
}

button:hover
{
    
    cursor: pointer;
    border: 1px solid #909090;
}

input[type=text]
{
    box-sizing: border-box;
    width: 30%;
    border: 1px solid #dfe1e5;
    height: 45px;
    border-radius: 20px;
    margin-top: 20px;
}
input[type=text]:hover
{
    border-block-end-color: #cdcdcd;

}
